<!-- EJS for the book-specific page -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/assets/homebrew-logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">
  <title>Homebrew</title>
</head>

<body>
  <header class="header--profile position--sticky">
    <% if (session.loggedin) { %> <!-- If the user is logged in, display their username in the topright -->
      <a onclick="window.location.href='/profile'" class="header--profile__login font-size--small link--simple">
        <%= session.username %>
      </a>
      <% } else { %> <!-- If the user is not logged in, display 'login' in the topright -->
        <a onclick="window.location.href='/login'"
          class="header--profile__login font-size--small link--simple">Login</a>
        <% } %>
  </header>
  <header class="header--nav position--sticky">
    <label class="page-header__burger-menu position--sticky">
      <input id="toggle" type="checkbox">
    </label>
    <a href="/">
      <img class="page-header__logo" src="/assets/homebrew-logo.png" alt="Homebrew Press logo">
    </a>
    <nav class="nav--desktop">
      <ul class="nav__list font-size--medium">
        <li><a href="../book-of-the-month">Book of the month</a></li>
        <li><a href="../review">Review</a></li>
        <li><a href="../info">Info</a></li>
        <li><a href="../about-author">Stephen King</a></li>
        <li><a href="../king-books">Other books</a></li>
        <li><a href="../about">About</a></li>
        <li><a href="../contact">Contact</a></li>
      </ul>
    </nav>
    <nav class="nav--mobile position--sticky">
      <ul class="nav__list font-size--medium">
        <li><a href="../book-of-the-month">Book of the month</a></li>
        <li><a href="../review">Review</a></li>
        <li><a href="../info">Info</a></li>
        <li><a href="../about-author">Stephen King</a></li>
        <li><a href="../king-books">Other books</a></li>
        <li><a href="../about">About</a></li>
        <li><a href="../contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="spacing"></div>
    <h1 class="book-title font-size--medium">
      <%= book.title %>
    </h1>
    <section class="book-information font-size--small">
      <img src="<%= book.coverImageUrl %>" alt="Book Cover">
      <!-- For each attribute, check if it exists. If it does, display it.
      This is done to be in line with the DDL statements, which do not require
      non-database generated data to be present before insertion is possible.
      This allows us to display books which have not yet been published (for whatever reason)
      or where any information is unknown. This also allows us to later update it anyway. -->
      <% if (book.author) { %>
        <p><strong>Author:</strong>
          <%= book.author %>
        </p>
        <% } %>
          <% if (book.genre) { %>
            <p><strong>Genre:</strong>
              <%= book.genre %>
            </p>
            <% } %>
              <% if (book.publisher) { %>
                <p><strong>Publisher:</strong>
                  <%= book.publisher %>
                </p>
                <% } %>
                  <% if (book.year) { %>
                    <p><strong>Year:</strong>
                      <%= book.year %>
                    </p>
                    <% } %>
                      <% if (book.summary) { %>
                        <p><strong>Summary:</strong>
                          <%= book.summary %>
                        </p>
                        <% } %>
                          <p><strong>Copies Left:</strong>
                            <span class="book-information__amount-left">
                              <%= book.copiesLeft %>
                            </span>
                          </p>
                          <button id="reserve">Reserve</button>
    </section>
  </main>

  <footer class="footer">
    <h3 class="footer__title font-size--medium">Homebrew Press &copy;</h3>
    <div class="footer__logo--wrapper">
      <a class="footer__logo footer__logo--youtube" href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank">
        <img src="/assets/youtube.svg" alt="YouTube logo">
      </a>
      <a class="footer__logo footer__logo--twitterx" href="https://twitter.com/" target="_blank">
        <img src="/assets/twitterx.svg" alt="X (formerly known as Twitter) logo">
      </a>
      <a class="footer__logo footer__logo--instagram" href="https://www.instagram.com/stickyutrecht/" target="_blank">
        <img src="/assets/instagram.svg" alt="Instagram logo">
      </a>
    </div>
  </footer>
  <script src="../scripts/reserve-books.js"></script>
</body>

</html>