<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/assets/homebrew-logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">
  <title>Homebrew</title>
</head>

<body>
  <header class="header--profile position--sticky">
    <% if (session.loggedin) { %>
      <a onclick="window.location.href='/profile'" class="header--profile__login font-size--small link--simple">
        <%= session.username %>
      </a>
      <% } else { %>
        <a onclick="window.location.href='/login'"
          class="header--profile__login font-size--small link--simple">Login</a>
        <% } %>
  </header>
  <header class="header--nav position--sticky">
    <label class="page-header__burger-menu position--sticky">
      <input id="toggle" type="checkbox">
    </label>
    <a href="/">
      <img class="page-header__logo" src="/assets/homebrew-logo.png" alt="Homebrew Press logo">
    </a>
    <nav class="nav--desktop">
      <ul class="nav__list font-size--medium">
        <li><a href="book-of-the-month">Book of the month</a></li>
        <li><a href="review">Review</a></li>
        <li><a href="info">Info</a></li>
        <li><a href="about-author">Stephen King</a></li>
        <li><a href="king-books">Other books</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
    <nav class="nav--mobile position--sticky">
      <ul class="nav__list font-size--medium">
        <li><a href="book-of-the-month">Book of the month</a></li>
        <li><a href="review">Review</a></li>
        <li><a href="info">Info</a></li>
        <li><a href="about-author">Stephen King</a></li>
        <li><a href="king-books">Other books</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="spacing"></div>
    <h1>Book Details</h1>
    <div class="book">
      <img src="<%= book.coverImageUrl %>" alt="Book Cover">
      <h2>
        <%= book.title %>
      </h2>
      <p><strong>Author:</strong>
        <%= book.author %>
      </p>
      <p><strong>Genre:</strong>
        <%= book.genre %>
      </p>
      <p><strong>Publisher:</strong>
        <%= book.publisher %>
      </p>
      <p><strong>Year:</strong>
        <%= book.year %>
          <p><strong>Summary:</strong>
            <%= book.summary %>
          </p>
          <p><strong>Copies Left:</strong>
            <%= book.copiesLeft %>
          </p>
          <button id="reserve">Reserve</button>
    </div>
  </main>

  <footer class="footer">
    <h3 class="footer__title font-size--medium">Homebrew Press &copy;</h3>
    <div class="footer__logo--wrapper">
      <a class="footer__logo footer__logo--youtube" href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank">
        <img src="/assets/youtube.svg" alt="YouTube logo">
      </a>
      <a class="footer__logo footer__logo--twitterx" href="https://twitter.com/" target="_blank">
        <img src="/assets/twitterx.svg" alt="X (formerly known as Twitter) logo">
      </a>
      <a class="footer__logo footer__logo--instagram" href="https://www.instagram.com/stickyutrecht/" target="_blank">
        <img src="/assets/instagram.svg" alt="Instagram logo">
      </a>
    </div>
  </footer>
  <script src="../scripts/getdata.js"></script>
</body>

</html>