<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/assets/homebrew-logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">
  <title>Homebrew</title>
</head>

<body>
  <header class="header--profile position--sticky">
    <% if (session.loggedin) { %>
      <a onclick="window.location.href='/profile'" class="header--profile__login font-size--small link--simple">
        <%= session.username %>
      </a>
      <% } else { %>
        <a onclick="window.location.href='/login'"
          class="header--profile__login font-size--small link--simple">Login</a>
        <% } %>
  </header>
  <header class="header--nav position--sticky">
    <label class="page-header__burger-menu position--sticky">
      <input id="toggle" type="checkbox">
    </label>
    <a href="/">
      <img class="page-header__logo" src="/assets/homebrew-logo.png" alt="Homebrew Press logo">
    </a>
    <nav class="nav--desktop">
      <ul class="nav__list font-size--medium">
        <li><a href="book-of-the-month">Book of the month</a></li>
        <li><a href="review">Review</a></li>
        <li><a href="info">Info</a></li>
        <li><a href="about-author">Stephen King</a></li>
        <li><a href="king-books">Other books</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
    <nav class="nav--mobile position--sticky">
      <ul class="nav__list font-size--medium">
        <li><a href="book-of-the-month">Book of the month</a></li>
        <li><a href="review">Review</a></li>
        <li><a href="info">Info</a></li>
        <li><a href="about-author">Stephen King</a></li>
        <li><a href="king-books">Other books</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main class="main--profile">
    <div class="spacing"></div>
    <article class="profile-info">
      <div class="temp font-size--medium">
        <% if (session.loggedin) { %>
          <p class="profile-info__username">
            <%= session.username %>
          </p>
          <p class="profile-info__password cursor--pointer">
            <%= session.password %>
          </p>
          <p class="profile-info__email">
            <%= session.email %>
          </p>
          <p class="profile-info__country">
            <%= session.country %>
          </p>
          <p class="profile-info__city">
            <%= session.city %>
          </p>
          <p class="profile-info__zip">
            <%= session.zip %>
          </p>
          <% } else { %>
            <p>Please log in <a href="login" class="link--simple">here</a>!</p>
            <% } %>
      </div>
    </article>
  </main>
</body>
<script src="scripts/reveal-password.js"></script>

</html>